<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: rgb(24, 105, 226);
            
        }
        form{
            display: flex;
            flex-direction: column;
            margin-top: 20px;
        }
        input{
            margin: 30px 0 30px 0;
            height: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        {% block content%}
        {% endblock %}
    </div>
    
</body>
</html>