{% extends 'base.html' %}
{%block content %}
<form action="{% url 'urlupdate' info.id %}" method="POST">
    {% csrf_token %}
    <select name='dept'>
    <option value='' selected>-- 선택 --</option>
    <option value='치과'>치과</option>
    <option value='정형외과'>정형외과</option>
    <option value='피부과'>피부과</option>
    <option value='성형외과'>성형외과</option>
    <option value='산부인과'>산부인과</option>
    <option value='외과'>외과</option>
    <option value='이비인후과'>이비인후과</option>
    <option value='내과'>내과</option>
    <option value='소아과'>소아과</option>
    <option value='신경외과'>신경외과</option>
    <option value='재활의학과'>재활의학과</option>
    </select>
    <input type="text" placeholder="추후에 유저마다의 이름을 받아오면 될듯" name="user_id" value="{{ info.user_id }}">
    <input type="text" placeholder="제목을 입력해주세요." name="title" value="{{info.title}}">
    <textarea name="body" id="" cols="30" rows="30"  >{{info.body}}</textarea>
    <input type="submit" name="submit" value="작성하기">
</form>
{% endblock%}