<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>정보 게시판</h1>
    <a href="{% url 'urlInfoList' %}">치과</a>
    <a href="{% url 'urlInfoList' %}">피부과</a>
    <a href="{% url 'urlInfoList' %}">성형외과</a>
    <a href="{% url 'urlInfoList' %}">산부인과</a><br>
    <a href="{% url 'urlInfoList' %}">안과</a>
    <a href="{% url 'urlInfoList' %}">내과</a>
    <a href="{% url 'urlInfoList' %}">외과</a>
    <a href="{% url 'urlInfoList' %}">이비인후과</a><br>
    <a href="{% url 'urlInfoList' %}">정형외과</a>
    <a href="{% url 'urlInfoList' %}">비뇨기과</a>
    <a href="{% url 'urlInfoList' %}">정신건강의학과</a>
    <a href="{% url 'urlInfoList' %}">재활의학과</a><br>
    <a href="{% url 'urlInfoList' %}">영상의학과</a>
    <a href="{% url 'urlInfoList' %}">소아과</a>
    <a href="{% url 'urlInfoList' %}">신경외과</a>
    <a href="{% url 'urlInfoList' %}">신경과</a><br>
    <a href="{% url 'urlInfoList' %}">마취통증의학과</a>
    <a href="{% url 'urlInfoList' %}">가정의학과</a>
    <a href="{% url 'urlInfoList' %}">한의원</a>
    <a href="{% url 'urlInfoList' %}">모든 진료과</a>
</body>
</html>