<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"><link rel="stylesheet" href="{% static 'i_search.css' %}">
    <title>category</title>
</head>
<body>
    <h1>정보 게시판</h1>

    <div class="wrap">
        <form class="form-inline my-2 my-lg-0" action="{% url 'urlinfosearch' %}" method="post">
            {% csrf_token %}
        <div class="search">
           <input type="text" class="searchTerm" placeholder="관심있는 병 혹은 질환을 검색해 보세요!" name="q" value="{{q}}">
           <button type="submit" class="searchButton">
             <i class="fa fa-search"></i>
          </button>
        </div>
        </form>
        <br>
        <a href="{% url 'urlinforeadall' 0%}">치과</a>
        <a href="{% url 'urlinforeadall' 1%}">피부과</a>
        <a href="{% url 'urlinforeadall' 2%}">성형외과</a>
        <a href="{% url 'urlinforeadall' 3%}">산부인과</a><br>
        <a href="{% url 'urlinforeadall' 4%}">안과</a>
        <a href="{% url 'urlinforeadall' 5%}">내과</a>
        <a href="{% url 'urlinforeadall' 6%}">외과</a>
        <a href="{% url 'urlinforeadall' 7%}">이비인후과</a><br>
        <a href="{% url 'urlinforeadall' 8%}">정형외과</a>
        <a href="{% url 'urlinforeadall' 9%}">비뇨기과</a>
        <a href="{% url 'urlinforeadall' 10%}">정신건강의학과</a>
        <a href="{% url 'urlinforeadall' 11%}">재활의학과</a><br>
        <a href="{% url 'urlinforeadall' 12%}">영상의학과</a>
        <a href="{% url 'urlinforeadall' 13%}">소아과</a>
        <a href="{% url 'urlinforeadall' 14%}">신경외과</a>
        <a href="{% url 'urlinforeadall' 15%}">신경과</a><br>
        <a href="{% url 'urlinforeadall' 16%}">마취통증의학과</a>
        <a href="{% url 'urlinforeadall' 17%}">가정의학과</a>
        <a href="{% url 'urlinforeadall' 18%}">한의원</a>
        <a href="{% url 'urlinforeadall' 19%}">모든 진료과</a>
    </div>
</body>
</html>