<!DOCTYPE html>
{% load static %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>병의:보감</title>
  <link rel="stylesheet" href="{%static 'loginstyle.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Serif+KR:wght@500;900&display=swap" rel="stylesheet">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
    h1,h2,p,span, a.button.button, input.btn.btn, input.form__input, button{ font-family: 'Gowun Dodum', sans-serif;}
  </style>
</head>
<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="main.css"><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
  </head>
  <body>

    <div class="main">

      <div class="container a-container" id="a-container">
        <form class="form" id="a-form" action="{%url 'urllogin' %}" method="POST">
          {% csrf_token %}
          <input type="text" class="form__input" name="username" value="{{view_loginform.username.value|default_if_none:''}}" placeholder="아이디">
          <input type="password" class="form__input" name="password" value="{{view_loginform.password.value|default_if_none:''}}" placeholder="비밀번호">
          <div style="display: inlion-block;">
          <button class="form__button button submit" style='cursor:pointer; background-color: #1a4380;'>로그인</button>
          <button type="button" onclick="location.href='{%url 'urlhome'%}'" class="form__button button submit" style="background-color: #1a4380;">돌아가기</button>
          </div>  
        </form>
      </div>
      <div class="switch" id="switch-cnt" style="background-color: #1a4380;">
        <div class="updown"></div>
        <div class="switch__circle"></div>
         <div class="switch__container" id="switch-c1">
          <h2 class="switch__title title" style="color: #fff; font-family: 'Gowun Dodum', sans-serif;" >병의 : 보감</h2>
          <p class="switch__description description">원활한 서비스 이용을 위해 로그인해주세요</p>
          {%if messages%}
          {%for m in messages%}
              <h4 style="color: red;"><strong>{{m.message}}</strong></h4><br>
          {%endfor%}
          {%endif%}
        </div> 
      </div>
    </div>
    <script src="main.js"></script>
  </body>
</html>
<!-- partial -->
  <script  src="{%static 'loginscripts.js' %}"></script>

</body>
</html>
