<div>
    <aside>
      <h1>
      쪽지함
      </h1>
  <br>
  <a href="{% url 'urlhome' %}">홈</a> <br>

  <br>
  
  <ul style="overflow-y: scroll; height: 200px; width:300px">
  {% for message in messages %}
  <a class="{% if active_direct == message.user %}is-active{% endif %}" href="{% url 'directs' message.user.username %}">
  <div>
    <article>
      <div>
      </div>
      <div>
  
        <div>
          <p>
            <!-- 나에게 메세지 보낸 사람 목록-->
            <strong>{{ message.user }}</strong> 
          </p>
        </div>
  
        <div>
          {% if message.unread %}
          <p style="font-weight: bold; color: red;">
            <i>읽지 않는 쪽지</i> {{ message.unread }}
          </p>
          {% endif %}        
        </div>
  
      </div>
    </article>
  </div>
  </a>
  {% endfor %}
  
    </ul>
    </aside>
  <br>
  </div>
  
  <div  style="overflow-y: scroll; height: 250px; width:500px">
    {% for direct in directs %}
    {% if direct.sender == direct.user %}
    <h4>보낸 쪽지</h4>
    <article>
        <div>
          <p>
            <strong>{{ direct.sender }} </strong> on: <strong><small>{{ direct.date|date:'N d G:i'}}</small></strong>
          {{ direct.body }} 
          </p>
        </div>
    </article>
  {% else %}
  <h4>받은 쪽지</h4>
  <article>
      <div>
        <p>
          <strong>{{ direct.sender }} </strong> on: <strong><small>{{ direct.date|date:'N d G:i'}}</small></strong>
        {{ direct.body }} 
        </p>
      </div>
  </article>
  {% endif %}
  {% endfor %}
  </div>
  
  
  <form role="form" method="POST" action="{% url 'send_direct' %}">
    {% csrf_token %}
  <article>
    <div>
      <input type="hidden" name="to_user" value="{{ active_direct }}">
      <div>
        <p>
          <textarea name="body" placeholder="메시지 내용을 입력하세요" cols="70" rows="3"></textarea>
        </p>
      </div>
      <nav>
        <div>
          <div>
            <button type="submit" name="action">전송</button>
            <a href=""><button>전체 삭제</button></a>
            <a href=""><button>차단</button></a>
            <a href=""><button>신고</button></a>
          <!--무늬뿐인 삭제,차단,신고-->
          
          </div>
        </div>
      </nav>
    </div>
  </article>
  </form>
  </div>