<div>
    <form>
      <div>
        <input name="q" type="text" placeholder="검색할 사용자 아이디" value="{{ request.GET.q }}">
      </div>
      <div>
          <button type="submit">검색</button>
      </div>
      </form>
    </div>
  
    
  
    {% for user in users %}
    <div>
      <article>
        <div>
          <div>
            <p>
              <strong>{{ user.username }}</strong>
            </p>
            <a href="{% url 'newconversation' user.username %}">대화 시작하기</a>
          </div>
        </div>
      </article>
    </div>
    {% endfor %}