<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>질문 게시판</title>
    <style>
        body{text-align: center;}
    </style>
</head>
<body>
    <h1>질문 게시판</h1>
    <a href="{% url 'urlnameallq' %}">치과</a>
    <a href="{% url 'urlnameallq' %}">피부과</a>
    <a href="{% url 'urlnameallq' %}">성형외과</a>
    <a href="{% url 'urlnameallq' %}">산부인과</a><br>
    <a href="{% url 'urlnameallq' %}">안과</a>
    <a href="{% url 'urlnameallq' %}">내과</a>
    <a href="{% url 'urlnameallq' %}">외과</a>
    <a href="{% url 'urlnameallq' %}">이비인후과</a><br>
    <a href="{% url 'urlnameallq' %}">정형외과</a>
    <a href="{% url 'urlnameallq' %}">비뇨기과</a>
    <a href="{% url 'urlnameallq' %}">정신건강의학과</a>
    <a href="{% url 'urlnameallq' %}">재활의학과</a><br>
    <a href="{% url 'urlnameallq' %}">영상의학과</a>
    <a href="{% url 'urlnameallq' %}">소아과</a>
    <a href="{% url 'urlnameallq' %}">신경외과</a>
    <a href="{% url 'urlnameallq' %}">신경과</a><br>
    <a href="{% url 'urlnameallq' %}">마취통증의학과</a>
    <a href="{% url 'urlnameallq' %}">가정의학과</a>
    <a href="{% url 'urlnameallq' %}">한의원</a>
    <a href="{% url 'urlnameallq' %}">모든 진료과</a>
</body>
</html>