{%extends 'base.html'%}
{%block content%}
<!-- Header Close --> 
<!-- Slider Start -->
<div class="main-wrapper ">
<section class="slider">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-10">
				<div class="block">
				
					<h1 class="animated fadeInUp mb-5" style="font-family: 'Song Myung', serif;">병의 : 보감 <br><br><h3 style="color:white">수술 후기가 궁금하다면?</h3></h1><br>
					<a href="{%url 'urlreviewcategory' %}" target="_blank" class="btn btn-main animated fadeInUp btn-round-full" > 알아보러가기<i class="btn-icon fa fa-angle-right ml-2"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>
<!--slider close-->
<!--second section start-->
<section class="section latest-blog bg-2">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<h2 class="mt-3 content-title text-white">지금 바로 만나보세요!</h2>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			  <div class="col-lg-4 col-md-6 mb-5">
				  <div class="card bg-transparent border-0">
					<img src="images/blog/1.jpg" alt="" class="img-fluid rounded">

					<div class="card-body mt-2">
						<h3 class="mt-3 mb-5 lh-36"><a href="{%url 'urlreviewcategory' %}" class="text-white ">다른 사람이 남긴 후기가<br> 궁금하다면?</a></h3>
						<a href="{%url 'urlreviewcategory' %}" class="btn btn-small btn-solid-border btn-round-full text-white">후기게시판 <i class="btn-icon fa fa-angle-right ml-2"></i></a>
					</div>
				</div>
			</div>


			<div class="col-lg-4 col-md-6 mb-5">
				<div class="card border-0 bg-transparent">
					<img src="images/blog/2.jpg" alt="" class="img-fluid rounded">

					<div class="card-body mt-2">
					<h3 class="mt-3 mb-5 lh-36"><a href="{%url 'urlinfocategory' %}" class="text-white">각종 수술에 대한 정보가 <br> 필요하다면?</a></h3>
						<a href="{%url 'urlinfocategory' %}" class="btn btn-small btn-solid-border btn-round-full text-white">정보게시판 <i class="btn-icon fa fa-angle-right ml-2"></i></a>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 mb-5">
				<div class="card border-0 bg-transparent">
					<img src="images/blog/3.jpg" alt="" class="img-fluid rounded">

					<div class="card-body mt-2">
						<h3 class="mt-3 mb-5 lh-36"><a href="{%url 'urlquestioncategory' %}" class="text-white">궁금한 점이 있을 때 <br>전문가에게 물어봐!</a></h3>
						<a href="{%url 'urlquestioncategory' %}" class="btn btn-small btn-solid-border btn-round-full text-white">질문게시판 <i class="btn-icon fa fa-angle-right ml-2"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- second section close-->
<!-- Section Intro Start -->

<section class="section intro bg-blue">
	<div class="container">
		<div class="row ">
			<div class="col-lg-8">
				<div class="section-title">
					<h2 class="mt-3 content-title text-white">수술이 두려우세요? <br>지금 병의 : 보감에서 확인하세요! </h2>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-12">
				<div class="intro-item mb-5 mb-lg-0"> 
					<i class="ti-desktop color-one text-white"></i>
					<h4 class="mt-4 mb-3 text-white">누구나 웹에서 빠르게</h4>
					<p>누구나 자유롭게 회원가입 후 각종 수술의 후기,정보 등을 알아보실 수 있습니다.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="intro-item mb-5 mb-lg-0">
					<i class="ti-medall color-one text-white"></i> 
					<h4 class="mt-4 mb-3 text-white">검증된 의료진의 피드백까지</h4>
					<p>일반 회원 뿐만 아니라 검증된 의료진,전문가의 피드백도 받아보실 수 있습니다.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="intro-item">
					<i class="ti-layers-alt color-one text-white"></i>
					<h4 class="mt-4 mb-3 text-white">믿을 수 있는 안전한 후기</h4>
					<p>보다 안전하고 확실한 인증 시스템을 통한 믿을 수 있는 생생 후기</p>
				</div>
			</div> 
		</div>
	</div>
</section>

<!-- Section Intro END -->
<!-- Section Testimonial Start -->
<section class="section testimonial bg-sky">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 ">
				<div class="section-title">
					<h2 class="mt-3 content-title">금주의 핫한 게시물&#129409;</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row testimonial-wrap">
			<div class="testimonial-item position-relative">
				<i class="ti-quote-left text-color"></i>

				<div class="testimonial-item-content">
					<p class="testimonial-text">"치질에 걸린 것 같은데 수술은 어디서,언제 이루어지나요ㅠㅠ 가격대도 알려주세요..."</p>

					<div class="testimonial-author">
						<h5 class="mb-0 text-capitalize">이란무화과님</h5>
						<p>2021.07.27</p>
					</div>
				</div>
			</div>
			<div class="testimonial-item position-relative">
				<i class="ti-quote-left text-color"></i>

				<div class="testimonial-item-content">
					<p class="testimonial-text">라섹 수술과 라식 수술의 차이점이 무엇인가요?</p>

					<div class="testimonial-author">
						<h5 class="mb-0 text-capitalize">김사자님</h5>
						<p>2021.08.04</p>
					</div>
				</div>
			</div>
			<div class="testimonial-item position-relative">
				<i class="ti-quote-left text-color"></i>

				<div class="testimonial-item-content">
					<p class="testimonial-text">폭염에 쓰러진 사람에게 응급처치 하는 법</p>

					<div class="testimonial-author">
						<h5 class="mb-0 text-capitalize">[인증] 김멋사 닥터</h5>
						<p>2021.08.03</p>
					</div>
				</div>
			</div>
			<div class="testimonial-item position-relative">
				<i class="ti-quote-left text-color"></i>

				<div class="testimonial-item-content">
					<p class="testimonial-text">수술하기 전 긴장한 마음을 다스리는 법</p>

					<div class="testimonial-author">
						<h5 class="mb-0 text-capitalize">[파워유저] 김광식님</h5>
						<p>2021.07.31</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Section Testimonial End -->
<section class="mt-70 position-relative">
	<div class="container">
	<div class="cta-block-2 bg-gray p-5 rounded border-1">
		<div class="row justify-content-center align-items-center ">
			<div class="col-lg-7">
				<span class="text-color">병의:보감의 지식 전문가가 되어보세요! </span>
				<h2 class="mt-2 mb-4 mb-lg-0">각종 혜택과 홍보, 포인트까지 받아가세요!</h2>
			</div>
			<div class="col-lg-4">
				<a href="{%url 'urlsignup' 2%}" class="btn btn-main btn-round-full float-lg-right ">지원하기 &#10142;</a>
			</div>
		</div>
	</div>
</div>

</section>


{%endblock%}
