<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    홈
    {% if user.is_authenticated %}
        {{user.username}}님 안녕하세요?
        <a href="{%url 'urllogout' %}"><button>로그아웃</button></a>
        <a href="{%url 'urlmypage' %}"><button>마이페이지</button></a><br>
        <form class="form-inline my-2 my-lg-0" action="{% url 'urlallsearch' %}" method="post">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="검색어를 입력하세요" aria-label="Search" name="q" value="{{q}}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

    {% else %}
        <a href = "{%url 'urllogin' %}"><button>로그인</button></a>
        <a href = "{%url 'urlchoice' %}"><button>회원가입</button></a><br>
        <form class="form-inline my-2 my-lg-0" action="{% url 'urlallsearch' %}" method="post">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="검색어를 입력하세요" aria-label="Search" name="q" value="{{q}}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    {% endif %}
    <br><br>
    <a href = "{%url 'urlinfocategory' %}"><button>정보페이지</button></a> <br>
    <a href = "{%url 'urlquestioncategory' %}"><button>질문페이지</button></a> <br>
    <a href = "{%url 'urlreviewcategory' %}"><button>후기페이지</button></a> <br>
</body>
</html>