<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta charset="UTF-8"> 
        <title>Document</title> 
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
            h1,h2,p,span, a.button.button, input.btn.btn{ font-family: 'Gowun Dodum', sans-serif;}
        </style>
    </head> 
    <body> 
        {% block content %} 
        <h1>New comment</h1> 
        <form method="POST" class="post-form">
            {% csrf_token %} 
            {{ form.as_p }} 
            <button type="submit">작성</button> 
        </form> 
        {% endblock %} 
    </body> 
</html>
