<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'r_search.css' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
        h1,h2,p,span, a.button.button, input.btn.btn{ font-family: 'Gowun Dodum', sans-serif;}
    </style>
    <title>Search</title>
</head>

<body>
    {% block content %}
    <h2>검색 결과🔍</h2>

    <div class="wrap">
        <form class="form-inline my-2 my-lg-0" action="{% url 'urlreviewsearch' %}" method="post">
            {% csrf_token %}
            <div class="search">
                <input type="text" class="searchTerm" placeholder="관심있는 병 혹은 질환을 검색해 보세요!" name="q" value="{{q}}">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>
    </div>

    {% if not sreview %}

    <h5><span style="color: blue;"><i>{{q}}</i></span> 에 대한 검색 결과가 없습니다.</h5>

    {% else %}

    <h5><span style="color: blue;"><i>{{q}}</i></span> 에 대한 게시물은 총 {{count}} 건 입니다.</span></h5>

    {% for s in sreview %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3><a href="{% url 'urlreviewdetail' s.id %}">{{s.title}}</a></h3>
                진료과: {{s.dept}}
                작성자:{{s.student_id}}<br>
                작성날짜:{{s.date}}<br>
            </div>
        </div>
    </div>
    {% endfor %}

    {% endif %}

    {% endblock %}
</body>

</html>