<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviewreadall</title>
</head>
<body>
    <h2>후기게시판</h2>
    ------------------------------------------------ <br>
{% for a in views_review_all %}
    제목:<a href="{% url 'urlreviewdetail' a.id %}">{{a.title}}</a> <br>
    진료과: {{a.dept}}
    작성자:{{a.student_id}} <br>
    작성날짜:{{a.date}} <br>
    ------------------------------------------------ <br>
{% endfor %}
</body>
</html>