<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reviewdetail</title>
</head>
<body>
    <div style="text-align: center;">
        <h3>{{views_review.title}}</h3><br>
        아이디:{{views_review.user_id}} <br>
        작성날짜:{{views_review.date}} <br>
        병원명:{{views_review.hname}} <br>
        의사명:{{views_review.dname}} <br>
        진료과:{{views_review.dept}} <br>
        내용: {{views_review.body}} <br>
        <a href="{% url 'urlreviewupdate' views_review.id %}">수정하기</a>
        <a href="{% url 'urlreviewdelete' views_review.id %}">삭제하기</a>
    </div>
</body>
</html>
