<!DOCTYPE html>
{%load static%}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Review/readall</title>
  <link rel="stylesheet" href="{%static 'readall_style.css'%}">

</head>
<body>
<!-- partial:index.partial.html -->
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Button Styles</title>
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
	<link rel="stylesheet" href="./stylesheets/screen.css">
	<link rel="stylesheet" href="./stylesheets/fonts.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>

<body>
  <h1 style="text-align: center; color: white"><strong>{{d_name}} 후기게시판</strong></h1><br>
	<section>
    <a href="{%url 'urlreviewnew' d_num%}" class="button button-submit">후기글 작성하기</a>
    <br>
    {% for a in views_review_all %}
		<h1>{{a.title}}</h1>
		<h2>{{a.name}}</h2>
		<p>{{a.date}}</p>
		<a href="{%url 'urlreviewdetail' a.id%}" class="button-read-more">Read more &raquo;</a>
    <br>
    {% endfor %}
	</section>
  
</body>
</html>
<!-- partial -->
  
</body>
</html>
