<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>후기 게시판</h1>
    <a href="{% url 'urlreviewreadall' %}">치과</a>
    <a href="{% url 'urlreviewreadall' %}">피부과</a>
    <a href="{% url 'urlreviewreadall' %}">성형외과</a>
    <a href="{% url 'urlreviewreadall' %}">산부인과</a><br>
    <a href="{% url 'urlreviewreadall' %}">안과</a>
    <a href="{% url 'urlreviewreadall' %}">내과</a>
    <a href="{% url 'urlreviewreadall' %}">외과</a>
    <a href="{% url 'urlreviewreadall' %}">이비인후과</a><br>
    <a href="{% url 'urlreviewreadall' %}">정형외과</a>
    <a href="{% url 'urlreviewreadall' %}">비뇨기과</a>
    <a href="{% url 'urlreviewreadall' %}">정신건강의학과</a>
    <a href="{% url 'urlreviewreadall' %}">재활의학과</a><br>
    <a href="{% url 'urlreviewreadall' %}">영상의학과</a>
    <a href="{% url 'urlreviewreadall' %}">소아과</a>
    <a href="{% url 'urlreviewreadall' %}">신경외과</a>
    <a href="{% url 'urlreviewreadall' %}">신경과</a><br>
    <a href="{% url 'urlreviewreadall' %}">마취통증의학과</a>
    <a href="{% url 'urlreviewreadall' %}">가정의학과</a>
    <a href="{% url 'urlreviewreadall' %}">한의원</a>
    <a href="{% url 'urlreviewreadall' %}">모든 진료과</a>
</body>
</html>