<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>후기 게시판</h1>
    <a href="{% url 'urlreviewreadall' 0%}">치과</a>
    <a href="{% url 'urlreviewreadall' 1%}">피부과</a>
    <a href="{% url 'urlreviewreadall' 2%}">성형외과</a>
    <a href="{% url 'urlreviewreadall' 3%}">산부인과</a><br>
    <a href="{% url 'urlreviewreadall' 4%}">안과</a>
    <a href="{% url 'urlreviewreadall' 5%}">내과</a>
    <a href="{% url 'urlreviewreadall' 6%}">외과</a>
    <a href="{% url 'urlreviewreadall' 7%}">이비인후과</a><br>
    <a href="{% url 'urlreviewreadall' 8%}">정형외과</a>
    <a href="{% url 'urlreviewreadall' 9%}">비뇨기과</a>
    <a href="{% url 'urlreviewreadall' 10%}">정신건강의학과</a>
    <a href="{% url 'urlreviewreadall' 11%}">재활의학과</a><br>
    <a href="{% url 'urlreviewreadall' 12%}">영상의학과</a>
    <a href="{% url 'urlreviewreadall' 13%}">소아과</a>
    <a href="{% url 'urlreviewreadall' 14%}">신경외과</a>
    <a href="{% url 'urlreviewreadall' 15%}">신경과</a><br>
    <a href="{% url 'urlreviewreadall' 16%}">마취통증의학과</a>
    <a href="{% url 'urlreviewreadall' 17%}">가정의학과</a>
    <a href="{% url 'urlreviewreadall' 18%}">한의원</a>
    <a href="{% url 'urlreviewreadall' 19%}">모든 진료과</a>
</body>
</html>