<!DOCTYPE html>
{%load static%}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>병의:보감</title>
  <link rel="stylesheet" href="{%static 'new_style.css'%}">
  <style>
	@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
	h1,h2,p,span, a.button.button, input.btn.btn{ font-family: 'Gowun Dodum', sans-serif;}
  </style>
</head>
<body>
<!-- partial:index.partial.html -->
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
	<link rel="stylesheet" href="./stylesheets/screen.css">
	<link rel="stylesheet" href="./stylesheets/fonts.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>

<body>	
	<div class="container signup">
		<form action="{%url 'urlreviewcreate' d_num %}" style="text-align: center;" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <h1>후기글 작성하기</h1>
			<hr>
			<label>
				<h2>제목</h2>
				<input type="text" class="long" name="ctitle">
			</label>

            <label>
				<h2>아이디</h2>
				<input type="text" class="long" name="cuser_id" value="{{user.username}}" readonly>
			</label>

            <label>
				<h2>병원명</h2>
				<input type="text" class="long" name="chname">
			</label>

            <label>
				<h2>의사명</h2>
				<input type="text" class="long" name="cdname">
			</label>

            <label>
				<h2>과</h2>
				<input type="text" class="long" name="cdept" value="{{d_name}}" readonly>
			</label>

			<label>
				<h2>후기내용</h2>
                <textarea name="cbody" id="" cols="70" rows="40"></textarea>
			</label>

            <label>
				<h2>진료 증빙 자료</h2>
                <br>
				<input type="file" class="long" name="ccert">
			</label>

            <br>
				<div style="display: none;">
				{% if user.ans_auth %}
					<input type="text" name ="doc" value="doc" readonly >
				{% else %}
					<input type="checkbox" name ="doc" value="not">
				{% endif %}
				</div>
			<button class="button-submit">작성완료</button>
			<button type="button" onclick="location.href='{%url 'urlreviewreadall' d_num%}'" class="button-submit">돌아가기</button>
		</form>
	</div>
</body>
</html>
<!-- partial -->
  
</body>
</html>
